.home-container{
    padding: 120px 0 0 90px
}

.home-title{
width: 580px;
height: 128px;
font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
text-transform: capitalize;
display: flex;
align-items: center;
letter-spacing: 0.02em;
color: #062847;
}

.home-description{
    width: 612px;
    height: 216px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    text-transform: capitalize;
    
}